.game
  form
    .board
      - for(let g = 1; g < 5; g++)
        svg.board__line(style=`--x: ${g < 3 ? g : 0}; --y: ${g < 3 ? 0 : g - 2}`)
          path(d='M 5 5 L 295 5', fill='none', stroke-width='10', stroke-linecap='round', stroke-dasharray='300', stroke-dashoffset='300')
      - for(let x = 0; x < 9; x++)
        input(type='checkbox', id=`x--${x}`, style=`--col: ${x % 3}; --row: ${Math.floor(x / 3)}`)
        span(style=`--col: ${x % 3}; --row: ${Math.floor(x / 3)}`)
          svg.x
            path.cross(d='M 20 20 L 80 80', fill='none', stroke-width='10', stroke-linecap='round', stroke-dasharray='100', stroke-dashoffset='100')
            path.cross(d='M 80 20 L 20 80', fill='none', stroke-width='10', stroke-linecap='round', stroke-dasharray='100', stroke-dashoffset='100')
        input(type='checkbox', id=`o--${x}`, style=`--col: ${x % 3}; --row: ${Math.floor(x / 3)}`)
        span(style=`--col: ${x % 3}; --row: ${Math.floor(x / 3)}`)
          svg.o
            circle.naught(cx='50', cy='50', r='30', fill='none', stroke-width='10', stroke-dasharray='200', stroke-dashoffset='200', stroke-linecap='round')
      - for(let y = 0; y < 9; y++)
        label(for=`x--${y}`, style=`--col: ${y % 3}; --row: ${Math.floor(y / 3)}`)
        label(for=`o--${y}`, style=`--col: ${y % 3}; --row: ${Math.floor(y / 3)}`)
      .board__result.board__result--x.result
        dl.result__content
          dt.result__title Winner!
          dd.result__details
            svg.x.result__icon
              path.cross(d='M 20 20 L 80 80', fill='none', stroke-width='10', stroke-linecap='round', stroke-dasharray='100', stroke-dashoffset='100')
              path.cross(d='M 80 20 L 20 80', fill='none', stroke-width='10', stroke-linecap='round', stroke-dasharray='100', stroke-dashoffset='100')
          button.result__reset(type='reset') Play again
        //- .result__shield
        - for (let c = 0; c < 30; c++)
          .result__firework-icon(style=`--y: ${Math.floor(Math.random() * 300) + 200}; --r: ${Math.floor(Math.random() * 360)}`) 🎉
      .board__result.board__result--o.result
        dl.result__content
          dt.result__title Winner!
          dd.result__details
            svg.o.result__icon
              circle.naught(cx='50', cy='50', r='30', fill='none', stroke-width='10', stroke-dasharray='200', stroke-dashoffset='200', stroke-linecap='round')
          button.result__reset(type='reset') Play again
        //- .result__shield
        - for (let c = 0; c < 30; c++)
          .result__firework-icon(style=`--y: ${Math.floor(Math.random() * 300) + 200}; --r: ${Math.floor(Math.random() * 360)}`) 🎉
      .board__result.board__result--draw
        dl.result__content
          dt.result__title Draw!
          dd.result__details
            .result__emoji 😭
          button.result__reset(type='reset') Play again