#root
//- - const randomInRange = (max, min) => Math.floor(Math.random() * (max - min)) + min
//- - const planetSize = randomInRange(10, 25)
//- - const r = randomInRange(1, 255)
//- - const g = randomInRange(1, 255)
//- - const b = randomInRange(1, 255)
//- - const bg = (a = 1) => `rgba(${r}, ${g}, ${b}, ${a})`
//- - const aR = randomInRange(1, 255)
//- - const aG = randomInRange(1, 255)
//- - const aB = randomInRange(1, 255)
//- - const atmosphere = `rgba(${aR}, ${aG}, ${aB}, 0.5)`
//- - const spots = randomInRange(1, 5)
//- - const spotColor = `rgb(${randomInRange(1, 255)}, ${randomInRange(1, 255)}, ${randomInRange(1, 255)})`
//- - const stars = 100
//- - const clouds = 25
//- .scene
//-   .atmosphere(style=`--atmosphere: ${atmosphere}; --atmosphereSize: ${planetSize * 1.5}`)
//-   .stars
//-     - for (let i = 0; i < stars; i++)
//-       - const size = randomInRange(1, 4)
//-       - const alpha = Math.random()
//-       - const x = randomInRange(0, 100)
//-       - const y = randomInRange(0, 100)
//-       .star(style=`--x: ${x}; --y: ${y}; --alpha: ${alpha}; --size: ${size}`)
//-   .planet(style=`--size: ${planetSize}; --bg: ${bg()}; --atmosphere: ${atmosphere}`)
//-     .planet__planet(style=`--speed: ${randomInRange(5, 25)}`)
//-       .astronaut__wrapper
//-         .astronaut
//-       .planet__spots(style=`--spotColor: ${spotColor}; --alpha: ${Math.random()}`)
//-         - for (let s = 0; s < spots; s++)
//-           - const size = (randomInRange(5, 50) / 100) * planetSize
//-           - const x = randomInRange(0, 100)
//-           - const y = randomInRange(0, 100)
//-           .planet__spot(style=`--size: ${size}; --x: ${x}; --y: ${y}`)
//-     .planet__clouds(style=`--size: ${planetSize * 2}`)
//-       - for (let c = 0; c < clouds; c++)
//-         .cloud(style=`--angle: ${randomInRange(0, 360)}; --delay: ${randomInRange(1,10)}; --alpha: ${Math.random()}; --size: ${randomInRange(1, 10)}; --translate: ${planetSize * (randomInRange(135, 165) / 100)}`)