-
  const LIGHTS = 50
  const genConfig = index => ({
    rotate: 1440 / LIGHTS * (LIGHTS - l),
    radius: 12.5 / LIGHTS * (LIGHTS - l),
    y: 100 / LIGHTS * l,
    speed: Math.random() * 10,
    delay: Math.random() * -10,
    appear: l,
  })
.tree
  - let l = 0
  while l < LIGHTS
    - const { radius, rotate, y, speed, delay, appear } = genConfig(l)
    .tree__light(style=`--appear: ${appear}; --y: ${y}; --rotate: ${rotate}; --radius: ${radius}; --speed: ${speed}; --delay: ${delay};`)
    - l++
  svg.tree__star(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113.32 108.44" style=`--delay: ${LIGHTS}`)
    path(d="M90.19 104.33L57.12 87.38 24.4 105l5.91-36.69L3.44 42.65l36.72-5.72 16.1-33.5L73.06 36.6l36.83 4.97-26.35 26.21z" fill="none" stroke-width="6.88" stroke-linecap="round" stroke-linejoin="round")