#app
//- PRE REACT VERSION CODE
//- - const randomInRange = (min, max) => Math.floor(Math.random() * (max - min)) + min
//- .streams
//-   - for (let s = 0; s < 6; s++)
//-     - let radius = randomInRange(5, 25)
//-     - let top = randomInRange(0, 100)
//-     - let delay = randomInRange(0, 40) / 100
//-     - let duration = randomInRange(40, 80) / 100
//-     - let travel = randomInRange(5, 20)
//-     .stream(style=`--top: ${top}; --radius: ${radius}; --delay: ${delay}; --duration: ${duration}; --travel: ${travel}`)
//- .quentin__wrapper
//-   include quentin-faces.svg