#app
//- - const WORD = "Hello"
//- h1(style=`--letters: ${WORD.split('').length}`)
//-   - for (let l = 0; l < WORD.split('').length; l++)
//-     - const LETTER = WORD.split('')[l]
//-     span(style=`--index: ${l}; --letter: "${LETTER}"`)= LETTER
//-       //- Acts as main letter
//-       span(style=`--index: ${l}; --letter: "${LETTER}"` aria-hidden="true")= LETTER
//-       //- Acts as reflection
//-       span(style=`--index: ${l}; --letter: "${LETTER}"` aria-hidden="true")= LETTER