- const PEOPLE = ['Lola', 'Ada', 'Sarah', 'Tess', 'Molly', 'Jessy', 'Zoey', 'Noah', 'Will', 'John', 'Jack', 'Levi', 'Isaac', 'Eli', 'Chris'].sort(() => Math.random() > 0.5 ? 1 : -1)
- const ROWS = 3
- const COLUMNS = 5

mixin cardFront(NAME)
  .card__picture
    - if (NAME === 'Lola')
      include ./a person/bust--trimmed--lola.svg
    - if (NAME === 'Ada')
      include ./a person/bust--trimmed--ada.svg
    - if (NAME === 'Sarah')
      include ./a person/bust--trimmed--sarah.svg
    - if (NAME === 'Tess')
      include ./a person/bust--trimmed--tess.svg
    - if (NAME === 'Molly')
      include ./a person/bust--trimmed--molly.svg
    - if (NAME === 'Jessy')
      include ./a person/bust--trimmed--jessy.svg
    - if (NAME === 'Zoey')
      include ./a person/bust--trimmed--zoey.svg
    - if (NAME === 'Noah')
      include ./a person/bust--trimmed--noah.svg
    - if (NAME === 'Will')
      include ./a person/bust--trimmed--will.svg
    - if (NAME === 'Jack')
      include ./a person/bust--trimmed--jack.svg
    - if (NAME === 'John')
      include ./a person/bust--trimmed--john.svg
    - if (NAME === 'Levi')
      include ./a person/bust--trimmed--levi.svg
    - if (NAME === 'Isaac')
      include ./a person/bust--trimmed--isaac.svg
    - if (NAME === 'Eli')
      include ./a person/bust--trimmed--eli.svg
    - if (NAME === 'Chris')
      include ./a person/bust--trimmed--chris.svg
  .card__name= NAME

mixin person(NAME)
  input.card-flipper(type='checkbox', id=NAME)
  .card__slot
    label.card(for=NAME, title=`Flip ${NAME}`)
      .card__back
        svg(role='img' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24')
          title CodePen icon
          path(d='M18.144 13.067v-2.134L16.55 12zm1.276 1.194a.628.628 0 01-.006.083l-.005.028-.011.053-.01.031c-.005.016-.01.031-.017.047l-.014.03a.78.78 0 01-.021.043l-.019.03a.57.57 0 01-.08.1l-.026.025a.602.602 0 01-.036.03l-.029.022-.01.008-6.782 4.522a.637.637 0 01-.708 0L4.864 14.79l-.01-.008a.599.599 0 01-.065-.052l-.026-.025-.032-.034-.021-.028a.588.588 0 01-.067-.11l-.014-.031a.644.644 0 01-.017-.047l-.01-.03c-.004-.018-.008-.036-.01-.054l-.006-.028a.628.628 0 01-.006-.083V9.739c0-.028.002-.055.006-.083l.005-.027.011-.054.01-.03a.574.574 0 01.12-.217l.031-.034.026-.025a.62.62 0 01.065-.052l.01-.008 6.782-4.521a.638.638 0 01.708 0l6.782 4.521.01.008.03.022.035.03c.01.008.017.016.026.025a.545.545 0 01.08.1l.019.03a.633.633 0 01.021.043l.014.03c.007.016.012.032.017.047l.01.031c.004.018.008.036.01.054l.006.027a.619.619 0 01.006.083zM12 0C5.373 0 0 5.372 0 12 0 18.627 5.373 24 12 24c6.628 0 12-5.372 12-12 0-6.627-5.372-12-12-12m0 10.492L9.745 12 12 13.51 14.255 12zm.638 4.124v2.975l4.996-3.33-2.232-1.493zm-6.272-.356l4.996 3.33v-2.974l-2.764-1.849zm11.268-4.52l-4.996-3.33v2.974l2.764 1.85zm-6.272-.356V6.41L6.366 9.74l2.232 1.493zm-5.506 1.549v2.134L7.45 12Z')
      .card__front
        +cardFront(NAME)

form
  input#selector(type='checkbox')
  input#blue(type='checkbox')
  .selector
    label.selector__button(for='selector')
    .selector__cards-wrapper
      .selector__cards
        - for (const PERSON of PEOPLE)
          .selector__card
            .selector__card-content
              +cardFront(PERSON)
  .board__wrapper
    .board(style=`--rows: ${ROWS}; --columns: ${COLUMNS}`)
      - for (const PERSON of PEOPLE)
        +person(PERSON)
      .board__front
  input#reset(type='reset' value='Reset board')
  label(for='blue') Blue Mode?
  label(for='reset', title='Reset game')
    svg(viewbox='0 0 24 24')
      path(d='M12,6V9L16,5L12,1V4A8,8 0 0,0 4,12C4,13.57 4.46,15.03 5.24,16.26L6.7,14.8C6.25,13.97 6,13 6,12A6,6 0 0,1 12,6M18.76,7.74L17.3,9.2C17.74,10.04 18,11 18,12A6,6 0 0,1 12,18V15L8,19L12,23V20A8,8 0 0,0 20,12C20,10.43 19.54,8.97 18.76,7.74Z')

