mixin ghostOne()
  svg.ghost__image-body(preserveAspectRatio='xMinYMin', viewBox='0 0 100 130')
    g#layer1(transform='translate(0,-922.36216)')
      path#path4149.ghost__path(d='m 87.104126,985.99028 c 3e-6,18.29482 23.310064,51.08502 7.251515,64.80642 -4.508673,3.8525 -10.735588,-6.2194 -16.533188,-5.808 -4.489803,0.3185 -7.636172,5.7797 -12.112396,6.2655 -5.152434,0.559 -9.879869,-4.3961 -15.050164,-4.066 -4.493939,0.2869 -8.076853,5.0762 -12.578149,5.1722 -4.822196,0.1028 -8.903453,-4.2416 -13.677721,-4.9617 -6.489307,-0.9788 -15.1515178,5.9929 -19.6454524,0.9765 -14.2159436,-15.8688 8.0865824,-46.7737 6.6754904,-65.00824 -1.7280703,-22.33068 -1.210964,-29.61106 6.765096,-41.60022 7.976059,-11.98915 18.994883,-19.4046 31.165941,-19.4046 12.171058,0 23.189882,7.41545 31.165941,19.4046 7.97606,11.98916 6.573083,25.92871 6.573087,44.22354 z', style='fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      circle#path4152.ghost__eyes(r='5', cy='961.0423', cx='19.056681', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      circle#circle4156.ghost__eyes(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', cx='76.471283', cy='960.05237', r='5')
      path#path4158(d='m 79.58852,970.29888 c -5e-6,2.4602 -14.18229,4.45458 -31.677023,4.45458 -17.494733,0 -31.677018,-1.99438 -31.677023,-4.45458 5e-6,-2.4602 14.380271,0.099 31.875004,0.099 17.494733,0 31.479037,-2.55919 31.479042,-0.099 z', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g#g4167.ghost__eyes.ghost__eyes--busted
        rect#rect4162(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='692.03461', y='658.58441', transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)')
        rect#rect4165(transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)', y='-700.53461', x='665.08441', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g#g4171.ghost__eyes.ghost__eyes--busted(transform='translate(57.414617,-0.98990468)')
        rect#rect4173(transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)', y='658.58441', x='692.03461', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
        rect#rect4175(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='665.08441', y='-700.53461', transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)')
mixin ghostTwo(className)
  svg.ghost__image-body(viewBox='0 0 100 130', preserveAspectRatio='xMinYMin', class=className)
    g#layer1(transform='translate(0,-922.36216)')
      path#path4149.ghost__path(d='m 87.104126,985.99028 c 3e-6,18.29482 23.310064,51.08502 7.251515,64.80642 -4.508673,3.8525 -10.735588,-6.2194 -16.533188,-5.808 -4.489803,0.3185 -7.636172,5.7797 -12.112396,6.2655 -5.152434,0.559 -9.879869,-4.3961 -15.050164,-4.066 -4.493939,0.2869 -8.076853,5.0762 -12.578149,5.1722 -4.822196,0.1028 -8.903453,-4.2416 -13.677721,-4.9617 -6.489307,-0.9788 -15.1515178,5.9929 -19.6454524,0.9765 -14.2159436,-15.8688 8.0865824,-46.7737 6.6754904,-65.00824 -1.7280703,-22.33068 -1.210964,-29.61106 6.765096,-41.60022 7.976059,-11.98915 18.994883,-19.4046 31.165941,-19.4046 12.171058,0 23.189882,7.41545 31.165941,19.4046 7.97606,11.98916 6.573083,25.92871 6.573087,44.22354 z', style='fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      circle#path4152.ghost__eyes(r='4.9010091', cy='957.77557', cx='41.527569', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      circle#circle4156.ghost__eyes(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', cx='64.691391', cy='955.00385', r='8.6626558')
      path#path4158.ghost__mouth(d='m 74.836967,972.6979 c -3e-6,11.63211 -14.670414,22.44764 -25.440609,22.44764 -10.770196,0 -19.303184,-0.71848 -19.303187,-12.35059 3e-6,-11.63211 8.852855,-13.5886 19.62305,-13.5886 10.770195,0 25.120743,-8.14052 25.120746,3.49155 z', style='fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g#g4167.ghost__eyes.ghost__eyes--busted(transform='matrix(1.5105663,0,0,1.5105663,35.905034,-496.71423)')
        rect#rect4162(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='692.03461', y='658.58441', transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)')
        rect#rect4165(transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)', y='-700.53461', x='665.08441', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g#g4171.ghost__eyes.ghost__eyes--busted(transform='translate(22.470903,-3.2666991)')
        rect#rect4173(transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)', y='658.58441', x='692.03461', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
        rect#rect4175(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='665.08441', y='-700.53461', transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)')
mixin ghostThree()
  svg.ghost__image-body(viewBox='0 0 100 130', preserveAspectRatio='xMinYMin')
    g#layer1(transform='translate(0,-922.36216)')
      path#path4149.ghost__path(d='m 87.104126,985.99028 c 3e-6,18.29482 23.310064,51.08502 7.251515,64.80642 -4.508673,3.8525 -10.735588,-6.2194 -16.533188,-5.808 -4.489803,0.3185 -7.636172,5.7797 -12.112396,6.2655 -5.152434,0.559 -9.879869,-4.3961 -15.050164,-4.066 -4.493939,0.2869 -8.076853,5.0762 -12.578149,5.1722 -4.822196,0.1028 -8.903453,-4.2416 -13.677721,-4.9617 -6.489307,-0.9788 -15.1515178,5.9929 -19.6454524,0.9765 -14.2159436,-15.8688 8.0865824,-46.7737 6.6754904,-65.00824 -1.7280703,-22.33068 -1.210964,-29.61106 6.765096,-41.60022 7.976059,-11.98915 18.994883,-19.4046 31.165941,-19.4046 12.171058,0 23.189882,7.41545 31.165941,19.4046 7.97606,11.98916 6.573083,25.92871 6.573087,44.22354 z', style='fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      path#path4158(d='m 64.541935,968.77294 c -10e-7,1.76535 -11.355147,5.78254 -17.039796,5.78254 -5.684647,0 -16.023096,-4.26665 -16.023098,-6.03199 2e-6,-1.76535 11.896477,3.67918 17.581124,3.67918 5.684648,0 15.481769,-5.19507 15.48177,-3.42973 z', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g#g4171.ghost__eyes.ghost__eyes--busted(transform='translate(18.907238,-4.0586249)')
        rect#rect4173(transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)', y='658.58441', x='692.03461', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
        rect#rect4175(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='665.08441', y='-700.53461', transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)')
      g#g4215.ghost__eyes.ghost__eyes--busted(transform='translate(38.309414,-3.8606434)')
        rect#rect4217(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='692.03461', y='658.58441', transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)')
        rect#rect4219(transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)', y='-700.53461', x='665.08441', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      path#circle4221.ghost__eyes(d='m 62.069108,959.55738 c 0,2.70675 -2.194256,-3.01825 -4.901009,-3.01825 -2.706753,0 -4.901009,5.725 -4.901009,3.01825 0,-2.70675 2.194256,-4.90101 4.901009,-4.90101 2.706753,0 4.901009,2.19426 4.901009,4.90101 z', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      path#path4224.ghost__eyes(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', d='m 42.666932,959.55738 c 0,2.70675 -2.194256,-3.01825 -4.901009,-3.01825 -2.706753,0 -4.901009,5.725 -4.901009,3.01825 0,-2.70675 2.194256,-4.90101 4.901009,-4.90101 2.706753,0 4.901009,2.19426 4.901009,4.90101 z')
mixin ghostFour()
  svg.ghost__image-body(viewBox='0 0 100 130', preserveAspectRatio='xMinYMin')
    g#layer1(transform='translate(0,-922.36216)')
      path#path4149.ghost__path(d='m 87.104126,985.99028 c 3e-6,18.29482 23.310064,51.08502 7.251515,64.80642 -4.508673,3.8525 -10.735588,-6.2194 -16.533188,-5.808 -4.489803,0.3185 -7.636172,5.7797 -12.112396,6.2655 -5.152434,0.559 -9.879869,-4.3961 -15.050164,-4.066 -4.493939,0.2869 -8.076853,5.0762 -12.578149,5.1722 -4.822196,0.1028 -8.903453,-4.2416 -13.677721,-4.9617 -6.489307,-0.9788 -15.1515178,5.9929 -19.6454524,0.9765 -14.2159436,-15.8688 8.0865824,-46.7737 6.6754904,-65.00824 -1.7280703,-22.33068 -1.210964,-29.61106 6.765096,-41.60022 7.976059,-11.98915 18.994883,-19.4046 31.165941,-19.4046 12.171058,0 23.189882,7.41545 31.165941,19.4046 7.97606,11.98916 6.573083,25.92871 6.573087,44.22354 z', style='fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g#g4171.ghost__eyes.ghost__eyes--busted(transform='matrix(1.6637807,0,0,1.6637807,28.456943,-641.01528)')
        rect#rect4173(transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)', y='658.58441', x='692.03461', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
        rect#rect4175(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='665.08441', y='-700.53461', transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)')
      circle#path4245.ghost__eyes(r='7.5', cy='958.1463', cx='38.385101', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      g#g4247.ghost__eyes.ghost__eyes--busted(transform='matrix(1.6637807,0,0,1.6637807,6.6789885,-640.81728)')
        rect#rect4249(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', width='2', height='15', x='692.03461', y='658.58441', transform='matrix(0.70710678,0.70710678,-0.70710678,0.70710678,0,0)')
        rect#rect4251(transform='matrix(-0.70710678,0.70710678,-0.70710678,-0.70710678,0,0)', y='-700.53461', x='665.08441', height='15', width='2', style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1')
      circle#circle4253.ghost__eyes(style='fill:#000000;fill-opacity:1;stroke:none;stroke-width:10;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', cx='60.163055', cy='957.9483', r='7.5')

mixin ghost()
  - const speed = (Math.random() * 3) + 0.75
  - const delay = Math.floor(Math.random() * 5) + 1
  - const isColor = Math.random() > 0.85
  - const color = isColor ? ['#c5a3ff', '#ffbebc', '#c4fafb', '#ace7ff'][Math.floor(Math.random() * 2)] : '#fff'
  - const score = isColor ? 5 : 1
  .ghost__container(style=`--speed: ${speed}; --delay: ${delay}; --color: ${color}; --score: ${score}`)
    input.ghost(type='checkbox')
    .ghost__image
      - const idx = Math.floor(Math.random() * 4) + 1
      if (idx === 1)
        +ghostOne()
      else if (idx === 2)
        +ghostTwo()
      else if (idx === 3)
        +ghostThree()
      else
        +ghostFour()
    block

//- Use a form so we can use the "reset" trick to reset the game
form
  input.menu(type='checkbox')
  .title-screen
    .title-screen__content
      +ghostTwo('title-ghost')
      h1.title Ghost <br/> Bustin'
      p.description.
        You'll get 15 seconds to bust as many ghosts as you can.
        Colored ghosts score more points!
      button Start
  .backdrop
  - const gPerRow = 3
  .game(style=`--rows: ${gPerRow}; --cols: ${gPerRow}`)
    - for (let g = 0; g < gPerRow * gPerRow; g++)
      .ghost-pen
        +ghost()
          +ghost()
            +ghost()

  .end
    h1.title Good job!
    h1.title.score You scored &nbsp;
    button(type='reset') Try again?
    .credit-ghost
      +ghostTwo()